---
import Layout from "../layouts/Layout.astro";

import Principal from "../sections/Principal.astro";
import Tarjetas from "../sections/Tarjetas.astro";
import Carrusel from "../sections/Carrusel.astro";
import Mapa from "../sections/Mapa.astro";
import Servicios from "../sections/Servicios.astro";
import Footer from "../sections/Footer.astro";
---

<Layout>
    <main>
		<Principal></Principal>
		<Tarjetas></Tarjetas>
		<Servicios></Servicios>
		<Carrusel></Carrusel>
		<Mapa></Mapa>
		<Footer></Footer>
	</main> 
</Layout>
|