<div class="carousel w-full h-[400px] pt-8 pb-8 lg:h-[700px]"> <!-- Ajusta el alto como necesites -->
  <div id="item1" class="carousel-item w-full h-full">
    <img
      src="/public/img1.jpeg"
      class="w-full h-full object-cover" />
  </div>
  <div id="item2" class="carousel-item w-full h-full">
    <img
      src="../../public/img2.jpeg"
      class="w-full h-full object-cover" />
  </div>
  <div id="item3" class="carousel-item w-full h-full">
    <img
      src="../../public/img3.jpeg"
      class="w-full h-full object-cover" />
  </div>
  <div id="item4" class="carousel-item w-full h-full">
    <img
      src="../../public/img4.jpeg"
      class="w-full h-full object-cover" />
  </div>
  <div id="item5" class="carousel-item w-full h-full">
    <img
      src="../../public/img5.jpeg"
      class="w-full h-full object-cover" />
  </div>
  <div id="item6" class="carousel-item w-full h-full">
    <img
      src="../../public/img6.jpeg"
      class="w-full h-full object-cover" />
  </div>
  <div id="item7" class="carousel-item w-full h-full">
    <img
      src="../../public/img7.jpeg"
      class="w-full h-full object-cover" />
  </div>
 
</div>

<div class="flex w-full justify-center gap-2 py-2">
  <a href="#item1" class="btn btn-xs">1</a>
  <a href="#item2" class="btn btn-xs">2</a>
  <a href="#item3" class="btn btn-xs">3</a>
  <a href="#item4" class="btn btn-xs">4</a>
  <a href="#item5" class="btn btn-xs">5</a>
  <a href="#item6" class="btn btn-xs">6</a>
  <a href="#item7" class="btn btn-xs">7</a>
</div>
