---
import "../styles/global.css";
---

<footer class="text-gray-900 body-font bg-gray-900">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="108"
        height="108"
        fill="none"
        viewBox="0 0 128 128"
        id="airplane-take-off"
      >
        <path
          stroke="#FACC15"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
          d="M50.9811 68.976L100.705 40.2679L92.9181 36.8054C90.5793 35.7655 87.8842 35.9074 85.6677 37.1871L77.9677 41.6327L55.2873 36.1745C53.8758 35.8349 52.3985 35.8857 51.0137 36.3215L43.3932 38.72C41.4847 39.3208 41.5433 42.0418 43.4761 42.5596L65.9377 48.5782L48.6947 58.5334L39.8395 56.1607L26.9455 62.5357L50.9811 68.976Z"
        ></path>
        <path
          stroke="#FACC15"
          stroke-linecap="round"
          stroke-width="4"
          d="M50.5962 92L60.7678 81.8284C62.3299 80.2663 64.8625 80.2663 66.4246 81.8284L76.5962 92"
        ></path>
      </svg>
      <h1
        class="text-5xl font-semibold tracking-tight text-white sm:text-3xl"
      >
        TXS SCL Oficial
      </h1>
    </a>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2025 —
      <a
        class="text-gray-600 ml-1"
        rel="noopener noreferrer"
        target="_blank">@TXSSCLOficial</a
      >
    </p>
    </footer>

