<h2 class="text-5xl font-semibold tracking-tight text-gray-800 text-center p-8 sm:text-7xl">Tarifario</h2>

<div class="overflow-y-auto max-h-[500px] mx-auto p-4 rounded-lg shadow" style="width: 80%; background-color: white; border: 1px solid black;">
  <table class="table-auto w-full text-sm text-left text-black" style="border-collapse: collapse;">
    <thead>
      <tr class="bg-white font-bold">
        <th class="px-4 py-2 border border-black rounded-tl-lg text-base">Destino</th>
        <th class="px-4 py-2 border border-black rounded-tr-lg text-base">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Alto Macul</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Batuco</td>
        <td style="px-4 py-2 border border-black;">$38.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Buin Centro</td>
        <td style="px-4 py-2 border border-black;">$45.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Buin Viluco</td>
        <td style="px-4 py-2 border border-black;">$60.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Buin Maipo</td>
        <td style="px-4 py-2 border border-black;">$65.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Buin Alto Jahuel</td>
        <td style="px-4 py-2 border border-black;">$67.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Calera de Tango</td>
        <td style="px-4 py-2 border border-black;">$42.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Casablanca</td>
        <td style="px-4 py-2 border border-black;">$80.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Casino Enjoy</td>
        <td style="px-4 py-2 border border-black;">$90.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Casino Monticello</td>
        <td style="px-4 py-2 border border-black;">$90.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Cerrillos</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Cerro Navia</td>
        <td style="px-4 py-2 border border-black;">$22.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Colina 1 Chicureo</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Colina 2 Pueblo</td>
        <td style="px-4 py-2 border border-black;">$45.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Colina 3 Haciendo de Chacabuco</td>
        <td style="px-4 py-2 border border-black;">$65.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Conchali</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Curacavi 1 Pueblo</td>
        <td style="px-4 py-2 border border-black;">$60.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Curacavi 2 Sector Parcela - Los Naranjos - La Reserva</td>
        <td style="px-4 py-2 border border-black;">$65.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">El Arrayan</td>
        <td style="px-4 py-2 border border-black;">$45.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">El Bosque</td>
        <td style="px-4 py-2 border border-black;">$30.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">El Monte - El Paico</td>
        <td style="px-4 py-2 border border-black;">$50.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Estacion Central</td>
        <td style="px-4 py-2 border border-black;">$24.000</td>
      </tr>
      <tr class="border-b border-black ">
        <td style="px-4 py-2 border border-black;">Farellones</td>
        <td style="px-4 py-2 border border-black;">$120.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Huechuraba 1 Hasta el Salto</td>
        <td style="px-4 py-2 border border-black;">$26.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Huechuraba 2 Ciudad Empresarial</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Independencia</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Isla de Maipo</td>
        <td style="px-4 py-2 border border-black;">$50.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Calera</td>
        <td style="px-4 py-2 border border-black;">$110.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">La Cisterna</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Dehesa</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">La Florida 1 hasta Vicuña Makenna paradero 14</td>
        <td style="px-4 py-2 border border-black;">$30.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Florida 2 hasta Tobalaba</td>
        <td style="px-4 py-2 border border-black;">$34.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">La Florida 3 hasta Las Perdices</td>
        <td style="px-4 py-2 border border-black;">$36.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Florida 4 Lo Caña</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">La Granja</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Ligua</td>
        <td style="px-4 py-2 border border-black;">$200.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">La Pintana</td>
        <td style="px-4 py-2 border border-black;">$35.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Reina 1 hasta Vicente Perez R</td>
        <td style="px-4 py-2 border border-black;">$36.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">La Reina 2 hasta Padre Hurtado</td>
        <td style="px-4 py-2 border border-black;">$36.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">La Reina 3 Alta</td>
        <td style="px-4 py-2 border border-black;">$38.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Lampa Pueblo</td>
        <td style="px-4 py-2 border border-black;">$35.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Lampa Chicauma</td>
        <td style="px-4 py-2 border border-black;">$38.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Las Condes 1 hasta Manquehue</td>
        <td style="px-4 py-2 border border-black;">$29.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Las Condes 2 hasta Estoril</td>
        <td style="px-4 py-2 border border-black;">$31.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Las Condes 3 hasta Camilo Otoñal</td>
        <td style="px-4 py-2 border border-black;">$35.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Las Condes 4 hasta San Carlos de Apoquindo - San Jose de la Estrella</td>
        <td style="px-4 py-2 border border-black;">$60.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Las Condes 5 hasta Plaza San Enrique</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Las Vizcachas</td>
        <td style="px-4 py-2 border border-black;">$55.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Lo Barnechea</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Lo Espejo</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Lo Prado</td>
        <td style="px-4 py-2 border border-black;">$23.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Lonquen hasta Santa Ana de Chena</td>
        <td style="px-4 py-2 border border-black;">$35.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Los Andes</td>
        <td style="px-4 py-2 border border-black;">$90.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Los Andes</td>
        <td style="px-4 py-2 border border-black;">$90.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Los Vilos</td>
        <td style="px-4 py-2 border border-black;">$250.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Macul</td>
        <td style="px-4 py-2 border border-black;">$33.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Maipu 1 hasta Plaza la Plaza</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Maipu 2 hasta 3 Poniente</td>
        <td style="px-4 py-2 border border-black;">$90.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Maipu 3 hasta el Abrazo</td>
        <td style="px-4 py-2 border border-black;">$32.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Maipu 4 hasta Ciudad Satelite</td>
        <td style="px-4 py-2 border border-black;">$34.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Maitencillo</td>
        <td style="px-4 py-2 border border-black;">$180.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Marbella - Maitencillo</td>
        <td style="px-4 py-2 border border-black;">$180.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Melipilla</td>
        <td style="px-4 py-2 border border-black;">$80.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Nos</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Ñuñoa 1 hasta Los Leones</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Ñuñoa 2 Grecia</td>
        <td style="px-4 py-2 border border-black;">$32.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Padre Hurtado</td>
        <td style="px-4 py-2 border border-black;">$36.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Paine</td>
        <td style="px-4 py-2 border border-black;">$60.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Papudo - Zapallar</td>
        <td style="px-4 py-2 border border-black;">$200.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Pedro Aguirre Cerda</td>
        <td style="px-4 py-2 border border-black;">$26.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Peñaflor</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Peñaflor 1 hasta Tobalaba</td>
        <td style="px-4 py-2 border border-black;">$36.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Peñaflor 2 Las Pircas</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Pirque</td>
        <td style="px-4 py-2 border border-black;">$50.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Providencia</td>
        <td style="px-4 py-2 border border-black;">$27.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Pudahuel 1 Hoteles Enea</td>
        <td style="px-4 py-2 border border-black;">$20.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Pudahuel 2 Cuidad de los Valles</td>
        <td style="px-4 py-2 border border-black;">$23.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Pudahuel 3 Praderas de Lo Aguirre</td>
        <td style="px-4 py-2 border border-black;">$24.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Pudahuel 4 Noviciado</td>
        <td style="px-4 py-2 border border-black;">$26.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Puente Alto</td>
        <td style="px-4 py-2 border border-black;">$40.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Quilicura 1 hasta Lo Matta</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Quilicura 1 hasta Lo Matta</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Quilicura 2 Buenaventura</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Quillota - Limache - Olmúe - Quilpue - Villa</td>
        <td style="px-4 py-2 border border-black;">$110.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Quinta Normal</td>
        <td style="px-4 py-2 border border-black;">$23.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Rancagua</td>
        <td style="px-4 py-2 border border-black;">$100.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Recoleta 1 hasta Dorsal</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Recoleta 2 Vespucio</td>
        <td style="px-4 py-2 border border-black;">$27.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Renca</td>
        <td style="px-4 py-2 border border-black;">$22.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">San Antonio</td>
        <td style="px-4 py-2 border border-black;">$120.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">San Bernardo 1 hasta El Mariscal</td>
        <td style="px-4 py-2 border border-black;">$35.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">San Bernardo 2 desde El Mariscal</td>
        <td style="px-4 py-2 border border-black;">$38.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">San Felipe</td>
        <td style="px-4 py-2 border border-black;">$100.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">San Joaquin</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">San Jose de Maipo 1 Pueblo</td>
        <td style="px-4 py-2 border border-black;">$70.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">San Jose de Maipo 1 San Gabriel</td>
        <td style="px-4 py-2 border border-black;">$80.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">San Miguel</td>
        <td style="px-4 py-2 border border-black;">$27.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">San Ramón</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">San Miguel</td>
        <td style="px-4 py-2 border border-black;">$27.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">San Ramon</td>
        <td style="px-4 py-2 border border-black;">$28.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Santiago Centro</td>
        <td style="px-4 py-2 border border-black;">$25.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Talagante</td>
        <td style="px-4 py-2 border border-black;">$50.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Vitacura 1 hasta Manquehue</td>
        <td style="px-4 py-2 border border-black;">$29.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Vitacura 2 hasta Tabancura</td>
        <td style="px-4 py-2 border border-black;">$33.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Vitacura 3 hasta Santa Maria de Manquehue</td>
        <td style="px-4 py-2 border border-black;">$34.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Vitacura 4 hasta Rotonda Lo Curro</td>
        <td style="px-4 py-2 border border-black;">$34.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Vitacura 5 hasta Puente Nuevo</td>
        <td style="px-4 py-2 border border-black;">$34.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Talca</td>
        <td style="px-4 py-2 border border-black;">$300.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Temuco</td>
        <td style="px-4 py-2 border border-black;">$750.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Til Til</td>
        <td style="px-4 py-2 border border-black;">$75.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Valdivia</td>
        <td style="px-4 py-2 border border-black;">$900.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Valle Nevado</td>
        <td style="px-4 py-2 border border-black;">$120.000</td>
      </tr>
      <tr class="border-b border-black">
        <td style="px-4 py-2 border border-black;">Ventana - Quinteros</td>
        <td style="px-4 py-2 border border-black;">$150.000</td>
      </tr>
      <tr class="border-b border-black bg-yellow-400">
        <td style="px-4 py-2 border border-black;">Viña del Mar - Valparaiso</td>
        <td style="px-4 py-2 border border-black;">$130.000</td>
      </tr>
    </tbody>
  </table>

</div>
